.idea
.settings
bazel-*
target
.classpath
.project
pom.xml
/.gtm/
temp
result
# chicken & egg -> generate is using bazel and bazel needs configuration
# solution -> use find instead
# config/__generated__
